.contact-page {
  text-align: center;
  input {
    width: 80vw;
  }
  .add-btn {
    position: fixed;
    bottom: 65px;
    right: 35px;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.3rem;
    color: white;
    background-color: lightblue;
    &:hover {
      cursor: pointer;
    }
  }
}
