.sign-up-page{
    margin-top: 90px;
    img{
        width: 170px;
        margin-bottom: 15px;
    }
    label div {
        margin-bottom: 10px;
        // font-weight: 500;
        font-size: 1.2rem;
    }
    button {
        margin-top: 15px;
        padding: 10px;
        border-radius: 12px;
        border: initial;
        font-size: 1rem;
    }
}